app-multi-select {
  width: 100%;
  border: 1px solid #413ae0;
  display: block;
  height: 400px;
  border-radius: 5px;
  padding: 30px;
}
.multiselect-container {
  border: 1px solid #c0c0c0;
  display: block;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
